/* Import reset */
@import url('normalize.css');

/* Import base styles */
@import url('mathematical.css');


body {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  max-width: 640px;
  margin: 0 auto;
  background: rgb(37,37,37);
  color: rgb(214,214,214);
   }

article {
  width: 48%;
  margin: 1%;
  float: left;
  text-shadow: 2px 1px rgba(0,0,0,.15);
  box-sizing: border-box;
  padding: 1.5em;
  text-align: center;
  color: #fff;
}

  #timeSinceBox {
    background: rgb(68,177,235);
  }

  #cigsBox {
    background: rgb(215,99,113);
  }
  
  #dollarsBox {
    background: rgb(226,127,80);
  }
  
  #timeSavedBox{
    background: rgb(137,119,178);
  }

  article p {
    margin: 0;
    font-weight: 200;
    font-size: .875rem;
  }
  
  article .value {
    font-size: 2rem;
    font-weight: 900;
  }

header {
  margin: 0 1%;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  margin: 1%;
  text-align: center;
  width: 640px;
}

footer {
  font-weight: 200;
}

a:link, a:visited {
  color: rgb(215,99,113);
  text-decoration: none;
}

a:active, a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 520px) {
  article {
    width: 96%;
    margin: 1% 2%; }
}